<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <title th:text="${pageName}?: 'Add or edit a contact'"></title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  </head>

  <body class="container">
    <h2 th:text="${pageName}?: 'Add or edit a contact'"></h2>
    <form action="#" th:action="@{/c/add}" th:object="${contact}" method="post">
      <input type="hidden" th:field="*{id}" />

      <label for="name">Name</label>
      <input id="name" type="text" th:field="*{name}"/>
      <span id="helpBlockName" th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></span>

      <label for="phoneNumber">Phone number</label>
      <input id="phoneNumber" type="text" th:field="*{phoneNumber}"/>
      <span id="helpBlockPhoneNumber" th:if="${#fields.hasErrors('phoneNumber')}" th:errors="*{phoneNumber}"></span>

      <input id="save" type="submit" value="Save" />
      <input type="reset" value="Reset fields" />

      <a th:href="@{/c}">Back to list</a>
    </form>
  </body>
</html>