<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <title>My contacts</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  </head>

  <body class="container">
    <h2>My contacts</h2>

    <table th:switch="${!#lists.isEmpty(contactsList)}">
      <thead>
        <tr>
          <th>#</th>
          <th>Name</th>
          <th>Phone number</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody th:case="${true}">
        <tr th:each="contact : ${contactsList}">
          <td><a th:text="${contact.id}" th:href="@{'/c/edit/' + ${contact.id}}" title="Edit"></a></td>
          <td th:text="${contact.name}"></td>
          <td th:text="${contact.phoneNumber}"></td>
          <td><a th:href="@{'/c/rm/' + ${contact.id}}">Delete</a></td>
        </tr>
      </tbody>
    </table>

    <a th:href="@{/c/add}">Add</a>
  </body>
</html>